<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<ul class="list-group">
  <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(movie: movie, list: @list) %>
    <li class="list-group-item"><%= movie.title %></li>
    <%= link_to 'Delete a bookmark', bookmark_path(bookmark), method: :delete, data: {confirm: "Are you sure?"}, class: 'text-danger' %>
  <% end %>
</ul>

<%= link_to 'Leave a bookmark', new_list_bookmark_path(@list) %>
<%= link_to 'Back', lists_path %>
